<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg p-3 rounded profile-card">
          <div class="card-body">
            <h3 class="card-title text-center text-primary">User Profile</h3>
            <hr>
            <div class="profile-details">
              <p><strong>Name:</strong> {{ user?.firstName }} {{ user?.lastName }}</p>
              <p><strong>Username:</strong> {{ user?.userName }}</p>
              <p><strong>Age:</strong> {{ user?.age }} years</p>
              <p><strong>Height:</strong> {{ user?.height }} cm</p>
              <p><strong>Weight:</strong> {{ user?.weight }} kg</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  