<div class="card shadow p-4 mt-4 rounded-4 custom-card-bg-main">
    <div class="card-body">
      <h5 class="card-title mb-3 fs-4 fw-bold">
        ✨ Get a quick diagnosis for symptoms in 3 simple steps!
      </h5>
  
      <div class="mb-3">
        <span class="badge rounded-pill bg-warning mx-1">Identify</span>
        <p class="mt-2 mb-4">
          Describe your symptoms clearly. Our system helps you identify potential issues based on what you're experiencing.
        </p>
  
        <span class="badge rounded-pill bg-primary mx-1">Respond</span>
        <p class="mt-2 mb-4">
          Answer a few follow-up questions to refine your diagnosis. These responses help us provide a more accurate result.
        </p>
  
        <span class="badge rounded-pill bg-danger mx-1">Receive</span>
        <p class="mt-2 mb-4">
          Instantly receive a possible diagnosis with next steps or suggestions on what to do next, including doctor visit recommendations if needed.
        </p>
      </div>
  
      <div class="text-center">
        <button class="btn btn-outline-success btn-lg" (click)="handleStartDiagnosis()">
          Start Diagnosis
        </button>
      </div>
    </div>
  </div>
  